services:
  redis:
    image: redis:7-alpine
    container_name: app-redis
    command: redis-server --maxmemory 512mb --maxmemory-policy allkeys-lru
    ports:
      - "6379:6379"
    restart: unless-stopped

  angular:
    image: kalukwo/kejahunt-angular:latest
    container_name: kejahunt-frontend
    ports:
      - "80:80"
    environment:
      - API_BASE_URL=https://kejahunt.co.ke/properties
      - TENANT_API_BASE_URL=https://kejahunt.co.ke/tenants
      - FILE_HANDLER_API_BASE_URL=https://kejahunt.co.ke/files
      - ACCESS_API_BASE_URL=https://kejahunt.co.ke/access

    depends_on:
      - gateway

  gateway:
    image: kalukwo/kejahunt-gateway:latest
    container_name: kejahunt-gateway
    ports:
      - "5000:8080"
    environment:
      - ReverseProxy__Clusters__fileHandlerService__Destinations__files__Address=http://filehandler:8080/
      - ReverseProxy__Clusters__propertyService__Destinations__properties__Address=http://property:8080/
      - ReverseProxy__Clusters__accessService__Destinations__access__Address=http://access:8080/
    depends_on:
      - property

  property:
    image: kalukwo/kejahunt-propertyservice:latest
    container_name: kejahunt-property
    ports:
      - "6000:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=34.74.244.105;Database=PropertyDb;Username=postgres;Password=KejaHUnT@2217;Port=5432;
    depends_on:
     - migrations-property
     - redis

  filehandler:
    image: kalukwo/kejahunt-filehandler:latest
    container_name: kejahunt-filehandler
    ports:
      - "7000:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=34.74.244.105;Database=FileHandlerDb;Username=postgres;Password=KejaHUnT@2217;Port=5432;
    depends_on:
     - migrations-filehandler
     - redis

  access:
    image: kalukwo/kejahunt-accessapi:latest
    container_name: kejahunt-access
    ports:
      - "8000:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=34.74.244.105;Database=AccessDb;Username=postgres;Password=KejaHUnT@2217;Port=5432;
    depends_on:
     - migrations-access
     - redis  

  migrations-property:
    image: kalukwo/kejahunt-propertyservice:migrations
    container_name: kejahunt-property-migrations
    environment:
      - ConnectionStrings__DefaultConnection=Host=34.74.244.105;Database=PropertyDb;Username=postgres;Password=KejaHUnT@2217;Port=5432;
    restart: "no"     

  migrations-filehandler:
    image: kalukwo/kejahunt-filehandler:migrations
    container_name: kejahunt-filehandler-migrations
    environment:
      - ConnectionStrings__DefaultConnection=Host=34.74.244.105;Database=FileHandlerDb;Username=postgres;Password=KejaHUnT@2217;Port=5432;
    restart: "no"

  migrations-access:
    image: kalukwo/kejahunt-accessapi:migrations
    container_name: kejahunt-access-migrations
    environment:
      - ConnectionStrings__DefaultConnection=Host=34.74.244.105;Database=AccessDb;Username=postgres;Password=KejaHUnT@2217;Port=5432;
    restart: "no"   
     